/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

img {
  width: 100%;
}

.about-img2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 60px;
  color: #fff;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 22px;
  
  padding: 0px;
}

header nav ul li {
  list-style-type: none;
 
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-item {
  justify-content: space-between;
  display: flex;
}

form label {
  font-weight: bold;
  justify-content: left;
}

form input {
  justify-content: right;
  margin-right: 0px;
  margin-bottom: 20px;
  width: 190px;
}


form select {
  margin-bottom: 20px;
  width: 190px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  .logo {
    justify-content: left;
    text-align: left;
    font-size: 50px;
  }

  header {
    justify-content: space-between;
    flex-direction: row;
  }

  .group {
    flex-direction: row;
  }

  .item {
    flex-direction: row;
  }

  .about-img2 {
    margin-top: 0px;
  }

  .about-text {
    margin-top: 70px;
  }

  .host-text {
    margin-top: 90px;
  }

  form {
    display: flex;
    flex-direction: row;
  }

  .form-item {
    flex-direction: column;
    flex: 1;
  }

  form button {
    flex: 1;
  }
}